:root {
  --color-bg: #fff;
  --color-black: black;
  --color-black-light: #222222;

  --color-pirmary-outline: #e1e1e1;
  --color-secondary-outline: #d7d7d7;
  --color-secondary-outline-active: #aeaeae;
  --color-blue-light: #38c2de;
  --color-unit-price: #777777;
  --color-red-light: #ff9e9e;
  --color-red: #ff5c5c;
}
